<!DOCTYPE html>
<html lang="en">

    {% set navigation_bar = [
        ('/history/', 'history', 'fe fe-home text-primary', 'Historia'),
        ('/citas/', 'citas', 'fe fe-book pink', 'Citas'),
        ('/tienda/', 'tienda', 'fe fe-folder deep-purple', 'Tienda')
        ] -%}
        {% set admin_navigation_bar = [ ('/admin/timesheet/', 'timesheet', 'fe fe-clock text-primary', 'Timesheet') ] -%}
        {% set active_page = active_page|default('dashboard')
    -%}
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='libs/datatables.net_buttons/css.jquery.css')}}" >
        <link rel="stylesheet" href="{{ url_for('static',filename='libs/datatables.net_buttons/datatables.net_buttons.css')}}" >
        <link rel="stylesheet" href="{{ url_for('static',filename='libs/choicesJs/choices.min.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='fonts/feather/feather.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='libs/flatpickr/dist/flatpickr.min.css') }}">
        {# <link rel="stylesheet" href="{{ url_for('static',filename='libs/highlightjs/styles/vs2015.css') }}"> #}
        <link rel="stylesheet" href="{{ url_for('static',filename='css/theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/mainpage.css') }}" id="custom">
        <link rel="stylesheet" href="{{ url_for('static',filename='libs/jqueryUI/jquery-ui.min.css')}}">
        <script src="{{ url_for('static',filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static',filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Re wow</title>
        
        <style>
            .sidebar {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 100;
                padding: 48px 0;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
                background-color: #fff;
            }
            .main-content {
                margin-left: 250px; /* Ancho del menú */
                padding: 20px;
            }
        </style>
    </head>
    <body>
       <!-- SIDEBAR -->
       <div class="sidebar">
           <!-- Navigation -->
           <ul id="navigation" class="nav flex-column">
               <a class="navbar-brand pt-2" href="asdasd"></a>
               {% for href, id, icon, caption in navigation_bar %}
               <li class="nav-item">
                   <a {% if id==active_page %} class="nav-link active" {% else %} class="nav-link" {% endif %}
                       href="{{ href|e }}">
                       <i class="{{ icon|e }}"></i>{{ caption|e }}</a>
               </li>
               {% endfor %}
           </ul>
           <div class="custom-control custom-switch">
               <input type="checkbox" class="custom-control-input" id="activate_hootsi_helper" name="activate_hootsi_helper">
               <label class="custom-control-label" for ="activate_hootsi_helper">Cerrar sesión</label>
           </div>
       </div>
       <!-- MAIN CONTENT -->
       <div class="main-content">
           <!-- TOPBAR -->
           
           <div>
               {% block content %} {% endblock %}
           </div>
       </div>
       <script src="{{ url_for('static',filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
       <script src="{{ url_for('static',filename='libs/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>

    </body>
    </html>